@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  height: 100%;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
